compiler/glsl/float64_glsl.h
compiler/glsl/glcpp/glcpp-lex.c
compiler/glsl/glcpp/glcpp-parse.c
compiler/glsl/glcpp/glcpp-parse.h
compiler/glsl/glcpp/glcpp-parse.output
compiler/glsl/glsl_parser.h
compiler/glsl/glsl_parser.output
compiler/glsl/ir_expression_operation.h
compiler/glsl/ir_expression_operation_constant.h
compiler/glsl/ir_expression_operation_strings.h
compiler/nir/nir_builder_opcodes.h
compiler/nir/nir_constant_expressions.c
compiler/nir/nir_intrinsics.c
compiler/nir/nir_intrinsics.h
compiler/nir/nir_opcodes.c
compiler/nir/nir_opcodes.h
compiler/nir/nir_opt_algebraic.c
compiler/spirv/spirv_info.c
compiler/spirv/vtn_gather_types.c
mapi/glapi/gen/glapi_gentable.c
mapi/glapi/gen/glapi_mapi_tmp.h
mapi/glapi/gen/glapitable.h
mapi/glapi/gen/glapitemp.h
mapi/glapi/gen/glprocs.h
mapi/glapi/glapitable.h
mapi/glapi/glapitemp.h
mesa/main/api_exec.c
mesa/main/dispatch.h
mesa/main/enums.c
mesa/main/format_fallback.c
mesa/main/format_info.h
mesa/main/format_pack.c
mesa/main/format_unpack.c
mesa/main/get_hash.h
mesa/main/remap_helper.h
mesa/program/lex.yy.c
mesa/program/program_parse.output
mesa/program/program_parse.tab.c
mesa/program/program_parse.tab.h
util/format_srgb.c
util/xmlpool/options.h
