*.a
*.dll
*.exe
*.ilk
*.log
*.o
*.obj
*.orig
*.os
*.pc
*.pdb
*.pyc
*.pyo
*.rej
*.so
*.so.*
*.sw[a-z]
*.tar
*.tar.bz2
*.tar.gz
*.tar.xz
*.trs
*.zip
*~
cscope*
tags
.scon*
config.py
build
manifest.txt
.dir-locals.el
/src/git_sha1.h
TAGS
