
BasedOnStyle: InheritParentConfig
DisableFormat: false

AlignConsecutiveBitFields: true
ColumnLimit: 80
BreakStringLiterals: false
SpaceBeforeParens: ControlStatementsExceptControlMacros
ForEachMacros: [
  'bi_foreach_block',
  'bi_foreach_block_from',
  'bi_foreach_block_from_rev',
  'bi_foreach_block_rev',
  'bi_foreach_clause_in_block',
  'bi_foreach_clause_in_block_from',
  'bi_foreach_clause_in_block_from_rev',
  'bi_foreach_clause_in_block_rev',
  'bi_foreach_clause_in_block_safe',
  'bi_foreach_dest',
  'bi_foreach_instr_and_src_in_tuple',
  'bi_foreach_instr_global',
  'bi_foreach_instr_global_rev',
  'bi_foreach_instr_global_rev_safe',
  'bi_foreach_instr_global_safe',
  'bi_foreach_instr_in_block',
  'bi_foreach_instr_in_block_from',
  'bi_foreach_instr_in_block_from_rev',
  'bi_foreach_instr_in_block_rev',
  'bi_foreach_instr_in_block_safe',
  'bi_foreach_instr_in_block_safe_rev',
  'bi_foreach_instr_in_clause',
  'bi_foreach_instr_in_clause_rev',
  'bi_foreach_instr_in_tuple',
  'bi_foreach_predecessor',
  'bi_foreach_src',
  'bi_foreach_ssa_dest',
  'bi_foreach_ssa_src',
  'bi_foreach_successor',
  'cs_break',
  'cs_case',
  'cs_continue',
  'cs_default',
  'cs_else',
  'cs_emit',
  'cs_if',
  'cs_match',
  'cs_update_compute_ctx',
  'cs_update_frag_ctx',
  'cs_update_progress_seqno',
  'cs_update_vt_ctx',
  'cs_while',
  'foreach_batch',
  'mir_foreach_block',
  'mir_foreach_block_from',
  'mir_foreach_bundle_in_block',
  'mir_foreach_bundle_in_block_rev',
  'mir_foreach_instr_global',
  'mir_foreach_instr_global_safe',
  'mir_foreach_instr_in_block',
  'mir_foreach_instr_in_block_from',
  'mir_foreach_instr_in_block_from_rev',
  'mir_foreach_instr_in_block_rev',
  'mir_foreach_instr_in_block_safe',
  'mir_foreach_instr_in_block_safe_rev',
  'mir_foreach_instr_in_block_scheduled_rev',
  'mir_foreach_predecessor',
  'mir_foreach_src',
  'nodearray_dense_foreach',
  'nodearray_dense_foreach_64',
  'nodearray_sparse_foreach',
  'pan_foreach_instr_in_block_rev',
  'pan_foreach_predecessor',
  'pan_foreach_successor',
  'pan_pack',
  'pan_pack_nodefaults',
  'pan_section_pack',
  'panvk_cs_reg_upd_ctx',
]
