/* Mesa CSS */
body {
	background-color: #ffffff;
	font: 14px 'Lucida Grande', Geneva, Arial, Verdana, sans-serif;
	color: black;
}

h1 {
	font-size: 24px;
	font-weight: bold;
}

h2 {
	font-size: 18px;
	font-weight: bold;
}

code {
	font-family: monospace;
	font-size: 10pt;
}

pre {
	font-size: 10pt;
	background-color: #eee;
	margin-left: 2em;
	padding: .5em;
}

iframe {
	width: 19em;
	height: 80em;
	border: none;
	float: left;
}

figure {
	margin: 0.5em;
	padding: 0.5em;
	border: 1px solid #ccc;
}

figure pre {
	margin: 0;
}

figure figcaption {
	padding-top: 0.5em;
}

.content {
	position: absolute;
	left: 20em;
	right: 10px;
	overflow: hidden;
}

.header {
	background: url('gears.png') 15px no-repeat, black url('gears.png') right no-repeat;
	padding: 1.75rem;
	text-align: center;
	color: white;
	font: x-large sans-serif;
}
